upstream homexin-dev {
    server 127.0.0.1:3000;  # need to modify
    keepalive 1024;
}

limit_req_zone $binary_remote_addr zone=homexin-dev:30m rate=3r/s;

server {
    listen 443;
    listen [::]:443;
    server_name dev.homexin.com.tw;     # need to modify
    location ~ ^/(api|images)/ {
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header Host $http_host;
        proxy_set_header X-Nginx-Proxy true;
        proxy_set_header Connection "";
        proxy_pass http://homexin-dev; # 这里要和最上面upstream后的应用名一致，可以自定义
        client_max_body_size 1M;

        # limit request
        limit_req zone=homexin-dev burst=5 nodelay; 
    }
    location /web/ {
        alias  /var/www/webs/templates/;    # need to modify
        # kill cache
        add_header Last-Modified $date_gmt;
        add_header Cache-Control 'no-store, no-cache, must-revalidate, proxy-revalidate, max-age=0';
        if_modified_since off;
        expires off;
        etag off;
    }
    location /web/assets/ {
        alias  /var/www/webs/assets/;       # need to modify
       	# kill cache
        add_header Last-Modified $date_gmt;
        add_header Cache-Control 'no-store, no-cache, must-revalidate, proxy-revalidate, max-age=0';
        if_modified_since off;
        expires off;
        etag off;
    }
    ssl on;
    ssl_certificate /etc/letsencrypt/live/dev.homexin.com.tw/fullchain.pem;    # need to modify
    ssl_certificate_key /etc/letsencrypt/live/dev.homexin.com.tw/privkey.pem;  # need to modify
    ssl_session_timeout 5m;
    ssl_protocols TLSv1 TLSv1.1 TLSv1.2;

}